.nav-color {
  background-color: #082032;
}
.navbar-light .navbar-nav .nav-link {
  color: #787a91;
  padding-left: 20px;
}

.logo {
  max-width: 11%;
  max-height: 2%;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:visited,
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:active {
  color: #787a91;
  padding-left: 20px;
  margin-right: 10px;
}

.resume {
  color: #787a91;
  background-color: #082032;
}
.resume:hover {
  background-color: #787a91;
  color: #082032;
}
